
/* Lägg till kurser */
.error-box {
    background: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.error {
    color: #cc0000;
    margin: 0;
    font-weight: bold;
}
